@()

<div>
    <div class="E404">
        OOPS! 404 We couldn't find that page. <i class="em em-face_with_rolling_eyes"></i>
    </div>

    <style>
        .E404 {
            background-color: #2d2d2d;
            width: auto;
            height: 100px;
            border-radius: 10px;
            padding-top: 25px;
            margin: 20px;
            text-align: center;
            top: 20px;
            color: white;
            font-size: 30px;
            font-family: Pangolin;
        }
    </style>
</div>